body {
    background-color: rgb(216, 216, 216);
}

#sidebarMenu {
    background-color: rgb(233, 235, 224);
}

a.button {
    display: inline-block;
    background: lightgray;
    border: 2px outset lightgray;
    cursor: default;
}

a.button:active {
    border-style: inset;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.logo_search {
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    margin-right: 20px;
}

.end_alignment {
    display: flex;
    justify-content: center;
    align-items: end;
}

.center_alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 4px 7px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    background-color: rgb(149, 255, 220);
    color: black;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

[type='radio'] {
    display: none;
}

.exit_btn {
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-right: 10px;
}

.turn_items {
    display: flex;
    justify-content: space-around;
}

.appointment_header {
    width: 70vw;
    margin-top: 20px;
}

.radius_wrapper {
    border-radius: 30px;
}

.label_wrapper {
    border-radius: 10px;
    width: max-content;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    text-align: center;
    font-size: large;
}

.text_wrapper {
    width: 40vw;
    text-align: center;
}

.input_field {
    width: 30vw;
}

.image_wrapper {
    border-radius: 30px;
    width: 45vw;
    height: 60vh;
}

@font-face {
    font-family: 'Audrey';
    src: url('/src/main/resources/static/fonts/Audrey/Audrey-Medium.otf');
    font-weight: normal;
    font-style: normal;

}

.greeting_wrapper {
    display: flex;
    justify-content: space-around;
    width: 30vw;

    display: inline-block;
    margin-left: 100px;
    margin-top: 100px;

    position: relative;
}

.greeting {
    margin-left: 10vw;
    font-size: small;
}

.woman_doctor_img {
    position: absolute;
    /* margin-left: -50px;
    margin-top: -128px; */
    position: absolute;
    bottom: 0;
}

.carousel_wrapper {
    width: 70vw;
    height: 300px;
}

.carousel {
    display: flex;
    justify-content: space-around;
}

.emergency {
    display: flex;
    justify-content: space-between;
}

.carousel_item_wrapper,
.emergency_item_wrapper,
.emergency_item_wrapper2 {
    padding: 40px;
}

.emergency_item_wrapper {
    margin-right: 30px;
    background-color: #f6b253;
}

.emergency_item_wrapper2 {
    background-color: #f6cb53;
}

.emergency_wrapper {
    width: 70vw;
    height: auto;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emergency_text_wrapper {
    font-size: medium;
}

.table_img {
    width: 300px;
}

.appointments_container {
    width: 70vw;
}

.sidebar_img {
    width: 400px;
}

.botton_sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.personnel_container {
    height: 70vh;
    top: 0;
}

.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-wrapper-1 [type=checkbox].substituted+label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.6em;
    margin-top: 0.2em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}

.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled+label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
    background-color: #f0f0f0;
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked+label:before {
    background-color: #00891e;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled+label:active:before {
    background-color: #56fb0a;
    color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(172, 166, 146, 0.649), 0 0 0 5px rgba(188, 187, 164, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(215, 205, 173, 0.649), 0 0 0 5px rgba(161, 173, 186, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:disabled+label:before {
    opacity: 0.5;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark+label:before {
    color: rgba(255, 255, 255, 0.275);
    background-color: #222;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled+label:active:before {
    background-color: #444;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked+label:before {
    background-color: #a97035;
    color: rgba(255, 255, 255, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled+label:active:before {
    background-color: #c68035;
    color: rgba(0, 0, 0, 0.275);
}

.dashboard_buttons {
    width: 70vw;
}

.notification_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    padding: 2vw;
    background-color: #2f92aa;
    font-size: x-large;
    color: white;
}